.contenido {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  gap: 30px;
}

a {
  text-decoration: none;
}

strong {
  color: #222831;
}

.centro {
  height: 20vh;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.foto {
  height: 30ch;
  width: 30ch;
  border-radius: 4ch;
  flex-shrink: 0;
  margin-top: 2ch;
  border: 2px solid #000000;
}

body {
  background-color: #555879;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.botones {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
  color: #98a1bc;
  padding: 10px 20px;
  background-color: #000000;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.botones:hover {
  background-color: #45bea0;
  color: #020202;
}

.botones:active {
  background-color: #000000;
  color: #45bea0;
}

.botonesPrin {
  color: #98a1bc;
  padding: 1px 10px;
  background-color: #222831;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  left: 2px;
  justify-content: center;
}

.botonesPrin:active {
  background-color: #98a1bc;
  color: #222831;
}

.botonesPrin:hover {
  background-color: #98a1bc;
  color: #222831;
}

.distancia {
  position: fixed;
  top: -12px;
  left: 0%;
  right: 0%;
  width: 100%;
  background-color: #222831;
  display: flex;
  justify-content: flex-end;
  padding: 17px 2px;
  gap: 13px;
  z-index: 9999;
}

.botonesCentrados {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.menu .distancia {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.seccion {
  display: none;
}
.seccion.activa {
  display: block;
}
.menu-links {
  transition: all 0.3s ease;
}
